body {
  background-color: rgba(0, 0, 0, 0.628);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-decoration: none !important;
  color: white;
}

.naviBar {
  background-color: green;
}

.profileIcon {
  font-size: 40px;
  color: white;
}

.profileIcon:hover, .title:hover {
  color: rgb(0, 195, 255);
}

.productImage {
  width: 50vw;
  height: 300px;
}

.card {
  margin-bottom: 5vh !important;
}

.card-body {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 5px;
}

.homepageWidth {
  width: 65%;
}