body {
  background-color: grey;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileIcon {
  font-size: 40px;
}

.productImage {
  width: 50vw;
  height: 300px;
}

.card {
  margin-bottom: 5vh !important;
}

.card-body {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 5px;
}

.homepageWidth {
  width: 65%;
}